
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 1000;
    font-style: normal;
    color: var(--white-text-color);
}
::-webkit-scrollbar {
    width: 1.5vw; 
    height: 1vh;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--background-aside);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--fondo-boton-active); 
    border-radius: 5vh; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-aside); 
  }
html {
    scroll-behavior: smooth;
  }
body{
    background-color: var(--fondo);
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}
main{
    overflow-x: hidden;

    width: 100%;
    min-height: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-0);
    gap: var(--padding-0);
}
aside{
    width: min(100%,var(--desktop-width-section));
    height: 98vh;
    border-radius: var(--border-radius-0);
    background-color: var(--background-aside);
    padding: var(--border-radius-1);
    text-align: center;
}
article{
    width: min(100%,var(--desktop-width-section));
    height: 98vh;
}
#block-scroll{
  position: fixed;
  width: 5vh;
  left: 1%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.39);
  height: 5vh;
  background-color: skyblue;
  z-index: 10;
  cursor: pointer;
  border-color: skyblue;
}