
#panel-historial{
    max-width: 100%;
    display: flex;
    gap: .5%;
    direction: rtl;
    padding: 0 1% ;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
}
#panel-historial::-webkit-scrollbar {
    width: 1.5vw; 
    height: .3vh;
}

#panel-historial > .item-panel{
    transform: scale(.8);
    height: 80%;
    align-self: self-end;
}
#panel-historial > .item-panel > .value{
    font-size: 3vh;
}
#panel-historial > .item-panel > .accion{
    width: 2vh;
    height: 2vh;
    padding: 0;
    border: 0;
    transform: translateY(-50%);
}
#panel-historial-abrir{/*Es el boton para abrir el historial completo*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3vh;
    background-color: var(--fondo-boton-operacion);
    border: var(--border-radius-0) solid var(--border-boton-operacion);
    border-radius: var(--border-radius-0);
}
#panel-historial-abrir > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#panel-historial-abrir.disabled{
    background-color: #bbb;
    border-color: #aaa;
}